.caedItems{
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
}
.caedItems img{
    border-radius: 10px;
}
.caedItems hr{
    color: #eca408;
}
.updateBtn{
    background-color: #eca408;
    border-radius:15px;
    padding: 5px 15px;
    padding-bottom: 8px;
    border: 0;
    font-weight:bolder;
}
.updateBtn:hover{
    background-color: #ecc308;
}
