.navbar{
   background-color: #021b29;
   padding-top: 0;
}
.real{
    font-weight: 700;
    background-color: white;
    color: black;
    text-align: center;
}
.furniture{
font-size:medium;
text-align: center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* login button */
.login{
    background-color: #eca408;
    border-radius:15px;
    padding: 5px 15px;
    padding-bottom: 8px;
}
.login:hover{
     background-color: #ecc308;
}
.nav:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid #eca408;
}