.login{
    background-color: #eca408;
    border-radius:15px;
    padding: 5px 15px;
    padding-bottom: 8px;
}
.login:hover{
     background-color: #ecc308;
}
.nav:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid #eca408;
}